.to-top {
  width: 40px;
  height: 50px;
  opacity: .6;
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
}

.to-top:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.to-top:hover .to-top__text {
  opacity: 1;
}