.menu__btn-close {
  width: 50px;
  height: 50px;
  border: hidden;
  background: none;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: opacity .3 ease;
}

.menu__btn-close:hover {
  opacity: .6;
}