.reviews__content-container {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .reviews__content-container {
    flex-direction: column;
    align-items: center;
  }
}