.about__main-text {
  margin: 0;
  width: 50%;
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
  font-size: 26px;
  line-height: 36px;
}

@media screen and (max-width: 1000px) {
  .about__main-text {
    width: 100%;
  }
}