.contact__text-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

@media screen and (max-width: 1024px) {
  .contact__text-container {
    padding-left: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .contact__text-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}